html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #000000;
    font-family: 'Averia Sans Libre', cursive;
    color: #61ae48;
}
html {
    margin: 0;
}
body {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}

#game-box canvas {
  background-repeat: repeat;
  background-image: url('img/level-1/background.png'); /* default */
}
#game-box.level-1 canvas {
  background-image: url('img/level-1/background.png');
}

canvas {
    display: block;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#newLevel {
    /*visibility: hidden;*/
    width: 100%;
    text-align: center;
    height: 98px;
    color: #000000;
    font-size: 4em;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0; 
}

#newLevel.active {
    /*visibility: visible;*/
    opacity: 1; 
}

aside {
    width: 200px;
    height: 600px;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: -300px 0 0;
}

aside h1 {
    margin: 0;
    margin-bottom: 30px;
}

#left {
    left: 0;
    right: auto;
}

#right {
    left: auto;
    right: 0;
}
#right > div {
    padding-left: 20px;
}

header {
    width: 200px;
    height: 206px;
    display: inline;
}

header img {
    margin: 0;
    padding: 0;
}

#instructions .imgText {
    line-height: 36px;
}

#instructions img {
    vertical-align:middle;
}

#scorePanel {
    margin-top: 14px;
}

.scoreBoard {
}

    .score {
        float: right;
        color: white;
    }

#highscore {
    margin-top: 14px;
}

#highscore ol {
    padding-left: 23px;
}

.current {
    color: #ffffff;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
    width: 100%;
    height: 100%;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over img {
    width: 570px;
    height: 120px;
    margin: 0 auto;
    display: block;
}

#game-over h1 {
    font-size: 3em;
}

#game-over .button {
    font-size: 2em;
    font-family: 'Averia Sans Libre', cursive;
    background: none;
    color: #61ae48;
    border: none;
    cursor:pointer;
}

#game-over .button:hover {
    color: #ffffff;
}

#play-again {
    z-index: 2;
}
