html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Averia Sans Libre', cursive;
    color: #61ae48;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}

canvas {
    display: block;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section {
    width: 1200px;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

section h1 {
    margin: 0;
    margin-bottom: 30px;
}

header {
    width: 200px;
    height: 206px;
    display: inline;
}

header img {
    margin: 0;
    padding: 0;
}

#instructions {
    float: left;
    width: 200px;
}

#scorePanel {
    float: right;
    width: 200px;
    margin-top: -6px;
}

.scoreBoard {
    float: left;
    width: 200px;
    padding-left: 20px;
}

    .score {
        float: right;
        color: white;
    }

#highscore {
    width: 200px;
    position: absolute;
    top: 164px;
    left: 1021px;
}

#highscore ol {
    padding-left: 23px;
}

.current {
    color: #ffffff;
}

.key {
    color: #aaffdd;
}

#game-over, #game-over-overlay {
    margin: auto;
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .5;
    width: 100%;
    height: 100%;
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over img {
    width: 570px;
    height: 120px;
    margin: 0 auto;
    display: block;
}

#game-over h1 {
    font-size: 3em;
}

#game-over button {
    font-size: 2em;
    font-family: 'Averia Sans Libre', cursive;
    background: none;
    color: #61ae48;
    border: none;
}

#game-over button:hover {
    color: #ffffff;
}
#game-over button:focus
{ 
outline: none;
}
